
.theme-alt {
    color: #090713;
    background-color: #99ede6;
    

  }
  .CenterText{
    text-align: center;
    font-size: 4rem;
  }
  .container{
    text-align: center;
    background: none;
  }
 .listOftodos{
  font-size: 2.5rem;
 }